body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "MicrosoftYahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    /* 隐藏x轴的滚动条 */
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    height: 2000px;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* 搜索模块 */

.search_index {
    display: flex;
    /* 固定定位跟父级没有关系，它以屏幕为准 */
    position: fixed;
    top: 0;
    left: 50%;
    /* 固定的盒子应该有宽度 */
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    z-index: 999;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.search {
    position: relative;
    height: 26px;
    /* 减去边框 */
    line-height: 24px;
    flex: 1;
    /* background-color: skyblue; */
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #ccc;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, .2);
}

.search::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}

.user {
    width: 44px;
    height: 44px;
    /* background-color: purple; */
    font-size: 12px;
    color: #3F85FF;
    text-align: center;
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px;
    margin: 3px auto -2px;
}


/* goBack */

.goBack {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../images/back.png) no-repeat;
    background-size: 38px 38px;
    transition: all .3s;
}

.focus {
    position: relative;
    margin-top: 44px;
    overflow: hidden;
}

.focus img {
    width: 100%;
}

.focus ul {
    overflow: hidden;
    width: 500%;
    margin-left: -100%;
}

.focus ul li {
    float: left;
    width: 20%;
}

.focus ol {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
}

.focus ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    transition: all .3s;
}

.focus ol li.current {
    width: 15px
}


/* 局部导航栏 */

.local_nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 5px;
    margin: 3px 4px;
}

.local_nav li {
    flex: 1;
}

.local_nav li a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐，因为是单行 */
    align-items: center;
    font-size: 12px;
}

.local_nav li [class^="local_nav_icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
    margin-top: 5px;
}

.local_nav li .local_nav_icon_icon2 {
    background-position: 0 -32px;
}

.local_nav li .local_nav_icon_icon3 {
    background-position: 0 -64px;
}

.local_nav li .local_nav_icon_icon4 {
    background-position: 0 -96px;
}

.local_nav li .local_nav_icon_icon5 {
    background-position: 0 -128px;
}

.nav {
    overflow: hidden;
    border-radius: 5px;
    margin: 0 4px 3px;
}

.nav_common {
    display: flex;
    height: 88px;
}

.nav_common:nth-child(2) {
    margin: 3px 0;
}

.nav_common .nav_items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav_items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgb(0, 0, 0, .2);
}

.nav_items a:nth-child(2) {
    border-top: 1px solid #fff;
}

.nav_items:nth-child(1) a {
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}


/* -n+2就是选择前面两个元素 */

.nav_items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.nav_common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}

.nav_common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}

.nav_common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}

.subnav_entry {
    display: flex;
    border-radius: 5px;
    margin: 0 4px;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 5px 0;
}

.subnav_entry li {
    /* 里面的子盒子可以写% 相对于父级来说的 */
    flex: 20%;
}

.subnav_entry li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    font-size: 12px;
}

li [class^="subnav_entry_icon"] {
    width: 28px;
    height: 28px;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;
}

li .subnav_entry_icon_icon2 {
    background-position: 0 -30px;
}

li .subnav_entry_icon_icon3 {
    background-position: 0 -65px;
}

li .subnav_entry_icon_icon4 {
    background-position: 0 -99px;
}

li .subnav_entry_icon_icon5 {
    background-position: 0 -130px;
}

li .subnav_entry_icon_icon6 {
    background-position: 0 -158px;
}

li .subnav_entry_icon_icon7 {
    background-position: 0 -193px;
}

li .subnav_entry_icon_icon8 {
    background-position: 0 -228px;
}

li .subnav_entry_icon_icon9 {
    background-position: 0 -255px;
}

li .subnav_entry_icon_icon10 {
    background-position: 0 -286px;
}

.sales_box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}

.sales_hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales_hd h2 {
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
}

.sales_hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    top: 0px;
    right: 10px;
    border-radius: 8px;
    background: -webkit-linear-gradient(left, #FF506C, #FF6BC6);
    padding: 3px 20px 3px 10px;
}

.more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a img {
    width: 100%;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}